:host {
  display: block;

}

.testimonial-container {
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
}

.greenline {
    height: 2px;
    width: 80%;
    background-color: #34FFC8;
}
