:host {
  display: block;
  width: 42vw;
  margin: 0px;
}

.testimonial-container {
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 220px;
  width: 42vw;
  max-width: 560px;
  font-size: 24pt;
  padding: 20px;
}

.greenline {
    height: 2px;
    width: 42vw;
    background-color: #34FFC8;
}

.text-container {
  padding: 20px 80px 70px 40px;
  line-height: 1.7;
  width: 40vw;
  text-align: left;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  height: fit-content;
}

.customer-container {
  font-size: 20pt;
}
