:host {
  display: block;

}

.testimonial-container {
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100px;
  padding-top: 30px;
  width: 80%;
  font-size: 20px;
}

.greenline {
    height: 2px;
    width: 80%;
    background-color: #34FFC8;
}
