@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

:host {
  display: block;
  
}

.grey-container {
  width: 100%;
  height: 616px;
  padding-top: 90px;
  background-color: #212121;
  color: white;
  font-size: 33pt;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.greyline {
  height: 2px;
  width: 80px;
  background-color: #32323C;
  margin-top: 25px;
}
