:host {
  display: block;
}

:root {
  --concrete: #f2f3f7;
  --gallery: #eeeeee;
  --licorice: #121212;
  --mine-shaft: #2f2f2f;

  --font-size-l: 33px;
  --font-size-m: 16px;

  --font-family-lato: 'Lato', Helvetica;
}
.lato-light-gallery-16px {
  color: var(--gallery);
  font-family: var(--font-family-lato);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 300;
}
.lato-normal-concrete-16px {
  color: var(--concrete);
  font-family: var(--font-family-lato);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}
.border-2px-gallery {
  border: 2px solid var(--gallery);
}

.address {
  color: var(--gallery);
  font-family: var(--font-family-lato);
  font-size: var(--font-size-m);
  height: 24px;
  letter-spacing: 0;
  line-height: 16px;
  margin-left: 19px;
  min-height: 24px;
  width: 290px;
}
.area-displayel-ultstatedefault {
  background-color: var(--mine-shaft);
  border-radius: 12px;
  height: 96px;
  left: 0;
  position: absolute;
  top: 0;
  width: 328px;
}
.button {
  align-items: flex-end;
  background-color: #34ffc8;
  border-radius: 1000px;
  box-shadow: 0px 8px 16px #34ffc81a;
  display: flex;
  height: 48px;
  justify-content: flex-end;
  margin-top: 5px;
  min-width: 328px;
  padding: 11.5px 145px;
}
.circle-button {
  align-items: center;
  background-color: var(--mine-shaft);
  border-radius: 1000px;
  display: flex;
  height: 48px;
  margin-left: 96px;
  min-width: 48px;
  padding: 0 19px;
}
.ellipse-fillstyle2brand {
  background-color: #ffffff;
  border-radius: 14px;
  height: 28px;
  width: 28px;
}
.flex-col {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-bottom: 1px;
  min-height: 481px;
  width: 330px;
}
.flex-row {
  align-items: flex-start;
  display: flex;
  margin-left: 3px;
  margin-top: 35px;
  min-width: 327px;
}
.flex-row-1 {
  align-items: flex-start;
  align-self: flex-end;
  display: flex;
  margin-top: 24px;
  min-width: 325px;
}
.flex-row-2 {
  align-items: flex-start;
  display: flex;
  margin-top: 60px;
  min-width: 328px;
}
.flex-row-3 {
  align-items: flex-start;
  display: flex;
  margin-left: 1.11px;
  margin-top: 23px;
  min-width: 329px;
}
.icon {
  align-items: flex-start;
  display: flex;
  height: 20px;
  justify-content: center;
  margin-top: 1px;
  min-width: 14px;
}
.icon-1 {
  align-items: flex-start;
  display: flex;
  height: 22px;
  justify-content: center;
  min-width: 18px;
}
.icon-2 {
  align-items: flex-start;
  display: flex;
  height: 10px;
  justify-content: center;
  min-width: 10px;
}
.input {
  align-items: flex-end;
  background-color: var(--mine-shaft);
  border-radius: 12px;
  display: flex;
  height: 48px;
  margin-left: 16px;
  min-width: 156px;
  padding: 11.5px 16px;
}
.input-1 {
  align-items: flex-end;
  background-color: var(--mine-shaft);
  border-radius: 12px;
  display: flex;
  height: 48px;
  min-width: 156px;
  padding: 11.5px 16px;
}
.label {
  color: #212121;
  font-family: var(--font-family-lato);
  font-size: var(--font-size-m);
  font-weight: 300;
  letter-spacing: 0;
  line-height: 16px;
  min-height: 21px;
  min-width: 36px;
  text-align: center;
  white-space: nowrap;
}
.line {
  height: 12px;
  object-fit: cover;
  width: 12px;
}
.line-1 {
  height: 2px;
  object-fit: cover;
  width: 2px;
}
.location-pin {
  align-items: center;
  align-self: center;
  background-color: #313131;
  border-radius: 40px;
  display: flex;
  height: 80px;
  min-width: 80px;
  padding: 0 26px;
}
.mobile {
  height: 24px;
  letter-spacing: 0;
  line-height: 16px;
  margin-left: 21px;
  min-height: 24px;
  width: 290px;
}
.overlap-group {
  align-items: flex-start;
  background-color: var(--licorice);
  display: flex;
  height: 568px;
  justify-content: flex-end;
  margin-left: 58px;
  min-width: 432px;
  padding: 32px;
}
.overlap-group1 {
  align-items: flex-start;
  background-image: src= 'src/icons/contact-icon3.png';
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  margin-top: -1.18px;
  min-width: 12px;
}
.overlap-group2 {
  height: 109px;
  margin-bottom: -2px;
  position: relative;
  width: 328px;
}
.overlap-group3 {
  align-items: flex-start;
  background-image: src= 'src/icons/contact-icon7.png';
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  height: 24px;
  margin-top: -1px;
  min-width: 20px;
  padding: 6px;
}
.overlap-group4 {
  align-items: flex-end;
  border-radius: 2px;
  display: flex;
  height: 22px;
  margin-top: -1px;
  min-width: 16px;
  padding: 6px 5px;
}
.path {
  height: 22px;
  object-fit: cover;
  width: 22px;
}
.path-1 {
  border-radius: 3px;
  height: 8px;
  width: 8px;
}
.phone {
  align-self: flex-end;
  height: 24px;
  letter-spacing: 0;
  line-height: 16px;
  margin-left: 16px;
  min-height: 24px;
  min-width: 290px;
  width: 290px;
}
.sign-up {
  align-items: center;
  background-color: #373737;
  border-radius: 24px;
  box-shadow: 8px 16px 32px #0000001a;
  display: flex;
  height: 600px;
  justify-content: flex-end;
  min-width: 896px;
  padding: 0 16px;
}
.textarea {
  align-items: flex-end;
  display: flex;
  height: 107px;
  margin-top: 16px;
  min-width: 328px;
}
.title-tagh4 {
  color: var(--gallery);
  font-family: var(--font-family-lato);
  font-size: var(--font-size-l);
  font-weight: 300;
  letter-spacing: 0.13px;
  line-height: 44px;
  margin-bottom: -2px;
  min-height: 42px;
  white-space: nowrap;
}
.value {
  color: var(--concrete);
  font-family: var(--font-family-lato);
  font-size: var(--font-size-m);
  font-weight: 300;
  height: 96px;
  left: 16px;
  letter-spacing: 0;
  line-height: 16px;
  position: absolute;
  top: 13px;
  width: 170px;
}
.value-1 {
  letter-spacing: 0;
  line-height: 16px;
  min-height: 21px;
  min-width: 101px;
  white-space: nowrap;
}
.value-2 {
  letter-spacing: 0;
  line-height: 16px;
  min-height: 21px;
  min-width: 44px;
  white-space: nowrap;
}

@import url('https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css');
@import url('https://fonts.googleapis.com/css?family=Lato:400,300|Noto+Sans:700');
* {
  box-sizing: border-box;
}
